---
http_interactions:
- request:
    method: get
    uri: https://webservices.na1.netsuite.com/wsdl/v2013_2_0/netsuite.wsdl
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Ns-Rtimer-Composite:
      - "-109237872:706172746E6572732D6A61766131303030312E626F732E6E65746C65646765722E636F6D:80"
      Content-Type:
      - text/xml
    body:
      encoding: UTF-8
      string: "<?xml version=\"1.0\" encoding=\"UTF-8\"?>\n<definitions xmlns:tns=\"urn:platform_2013_2.webservices.netsuite.com\"
        xmlns:soap=\"http://schemas.xmlsoap.org/wsdl/soap/\" xmlns=\"http://schemas.xmlsoap.org/wsdl/\"
        xmlns:platformMsgs=\"urn:messages_2013_2.platform.webservices.netsuite.com\"
        xmlns:platformFaults=\"urn:faults_2013_2.platform.webservices.netsuite.com\"
        targetNamespace=\"urn:platform_2013_2.webservices.netsuite.com\">\n    <types>\n
        \       <xsd:schema xmlns:xsd=\"http://www.w3.org/2001/XMLSchema\" elementFormDefault=\"qualified\">\n
        \           <xsd:import namespace=\"urn:core_2013_2.platform.webservices.netsuite.com\"
        schemaLocation=\"https://webservices.na1.netsuite.com/xsd/platform/v2013_2_0/core.xsd\"/>\n
        \           <xsd:import namespace=\"urn:faults_2013_2.platform.webservices.netsuite.com\"
        schemaLocation=\"https://webservices.na1.netsuite.com/xsd/platform/v2013_2_0/faults.xsd\"/>\n
        \           <xsd:import namespace=\"urn:messages_2013_2.platform.webservices.netsuite.com\"
        schemaLocation=\"https://web[...]
- request:
    method: post
    uri: https://webservices.na1.netsuite.com/services/NetSuitePort_2013_2
    body:
      encoding: UTF-8
      string: "<?xml version=\"1.0\" encoding=\"UTF-8\"?><env:Envelope xmlns:xsd=\"http://www.w3.org/2001/XMLSchema\"
        xmlns:xsi=\"http://www.w3.org/2001/XMLSchema-instance\" xmlns:platformMsgs=\"urn:messages_2013_2.platform.webservices.netsuite.com\"
        xmlns:env=\"http://schemas.xmlsoap.org/soap/envelope/\" xmlns:platformCore=\"urn:core_2013_2.platform.webservices.netsuite.com\"
        xmlns:platformCommon=\"urn:common_2013_2.platform.webservices.netsuite.com\"
        xmlns:listRel=\"urn:relationships_2013_2.lists.webservices.netsuite.com\"
        xmlns:tranSales=\"urn:sales_2013_2.transactions.webservices.netsuite.com\"
        xmlns:actSched=\"urn:scheduling_2013_2.activities.webservices.netsuite.com\"
        xmlns:setupCustom=\"urn:customization_2013_2.setup.webservices.netsuite.com\"
        xmlns:listAcct=\"urn:accounting_2013_2.lists.webservices.netsuite.com\" xmlns:tranCust=\"urn:customers_2013_2.transactions.webservices.netsuite.com\"
        xmlns:listSupport=\"urn:support_2013_2.lists.webservices.netsuite.com\" xmlns:tranGeneral=\"urn:general_2013_2.transactions.webservices.netsuite.com\"><env:Header><platformMsgs:passport><platformCore:email>washington@spreecommerce.com</platformCore:email><platformCore:password>test</platformCore:password><platformCore:account>test</platformCore:account><platformCore:role
        type=\"role\" internalId=\"3\"></platformCore:role></platformMsgs:passport><platformMsgs:SearchPreferences><pageSize>100</pageSize><bodyFieldsOnly>false</bodyFieldsOnly></platformMsgs:SearchPreferences></env:Header><env:Body><platformMsgs:search><platformMsgs:searchRecord
        xsi:type=\"listAcct:ItemSearch\"><listAcct:basic><platformCommon:lastModifiedDate
        operator=\"after\"><platformCore:searchValue>2014-02-06T20:58:56Z</platformCore:searchValue></platformCommon:lastModifiedDate><platformCommon:upcCode
        operator=\"notEmpty\"><platformCore:searchValue xsi:nil=\"true\"/></platformCommon:upcCode><platformCommon:type
        operator=\"anyOf\"><platformCore:searchValue>_inventoryItem</platformCore:searchValue></platformCommon:type><platformCommon:isInactive><platformCore:searchValue>false</platformCore:searchValue></platformCommon:isInactive></listAcct:basic></platformMsgs:searchRecord></platformMsgs:search></env:Body></env:Envelope>"
    headers:
      Soapaction:
      - "\"search\""
      Content-Type:
      - text/xml;charset=UTF-8
  response:
    status:
      code: 200
      message: OK
    headers:
      Ns-Rtimer-Composite:
      - 1691331527:706172746E6572732D6A61766131303030342E626F732E6E65746C65646765722E636F6D:80
      Content-Type:
      - text/xml; charset=utf-8
    body:
      encoding: UTF-8
      string: "<?xml version=\"1.0\" encoding=\"UTF-8\"?><soapenv:Envelope xmlns:soapenv=\"http://schemas.xmlsoap.org/soap/envelope/\"
        xmlns:xsd=\"http://www.w3.org/2001/XMLSchema\" xmlns:xsi=\"http://www.w3.org/2001/XMLSchema-instance\"><soapenv:Header><platformMsgs:documentInfo
        xmlns:platformMsgs=\"urn:messages_2013_2.platform.webservices.netsuite.com\"><platformMsgs:nsId>WEBSERVICES_test_020620141518062251223473464_679302</platformMsgs:nsId></platformMsgs:documentInfo></soapenv:Header><soapenv:Body><searchResponse
        xmlns=\"urn:messages_2013_2.platform.webservices.netsuite.com\"><platformCore:searchResult
        xmlns:platformCore=\"urn:core_2013_2.platform.webservices.netsuite.com\"><platformCore:status
        isSuccess=\"true\"/><platformCore:totalRecords>149</platformCore:totalRecords><platformCore:pageSize>100</platformCore:pageSize><platformCore:totalPages>2</platformCore:totalPages><platformCore:pageIndex>1</platformCore:pageIndex><platformCore:searchId>WEBSERVICES_test_020620141518062251223473464_679302</platformCore:searchId><platformCore:recordList><platformCore:record
        internalId=\"674\" xsi:type=\"listAcct:SerializedInventoryItem\" xmlns:listAcct=\"urn:accounting_2013_2.lists.webservices.netsuite.com\"><listAcct:createdDate>2014-02-15T08:21:31.000-08:00</listAcct:createdDate><listAcct:lastModifiedDate>2014-02-25T09:40:12.000-08:00</listAcct:lastModifiedDate><listAcct:itemId>Serialized
        Electronic Item 1</listAcct:itemId><listAcct:upcCode>S0011234</listAcct:upcCode><listAcct:isOnline>false</listAcct:isOnline><listAcct:offerSupport>true</listAcct:offerSupport><listAcct:isInactive>false</listAcct:isInactive><listAcct:availableToPartners>true</listAcct:availableToPartners><listAcct:purchaseDescription>Serialized
        1 Purchase Description</listAcct:purchaseDescription><listAcct:copyDescription>false</listAcct:copyDescription><listAcct:cogsAccount
        internalId=\"121\"><platformCore:name>Cost of Goods Sold</platformCore:name></listAcct:cogsAccount><listAcct:salesDescription>Serialized
        1 Sales Description</listAcct:salesDescription><listAcct:incomeAccount internalId=\"55\"><platformCore:name>4000
        Sales</platformCore:name></listAcct:incomeAccount><listAcct:isTaxable>false</listAcct:isTaxable><listAcct:assetAccount
        internalId=\"120\"><platformCore:name>Inventory Asset</platformCore:name></listAcct:assetAccount><listAcct:matchBillToReceipt>false</listAcct:matchBillToReceipt><listAcct:billQtyVarianceAcct
        internalId=\"150\"><platformCore:name>5095 Bill Quantity Variance</platformCore:name></listAcct:billQtyVarianceAcct><listAcct:billPriceVarianceAcct
        internalId=\"151\"><platformCore:name>5096 Bill Price Variance</platformCore:name></listAcct:billPriceVarianceAcct><listAcct:billExchRateVarianceAcct
        internalId=\"152\"><platformCore:name>5097 Bill Exchange Rate Variance</platformCore:name></listAcct:billExchRateVarianceAcct><listAcct:weight>1.0</listAcct:weight><listAcct:costingMethodDisplay>Specific</listAcct:costingMethodDisplay><listAcct:trackLandedCost>false</listAcct:trackLandedCost><listAcct:isDropShipItem>false</listAcct:isDropShipItem><listAcct:isSpecialOrderItem>false</listAcct:isSpecialOrderItem><listAcct:roundUpAsComponent>false</listAcct:roundUpAsComponent><listAcct:enforceMinQtyInternally>true</listAcct:enforceMinQtyInternally><listAcct:shipIndividually>false</listAcct:shipIndividually><listAcct:costCategory
        internalId=\"3\"><platformCore:name>Default Cost Category</platformCore:name></listAcct:costCategory><listAcct:useMarginalRates>false</listAcct:useMarginalRates><listAcct:costEstimateType>_averageCost</listAcct:costEstimateType><listAcct:transferPrice>12.0</listAcct:transferPrice><listAcct:overallQuantityPricingType>_byLineQuantity</listAcct:overallQuantityPricingType><listAcct:cost>10.0</listAcct:cost><listAcct:totalValue>457.15</listAcct:totalValue><listAcct:useBins>false</listAcct:useBins><listAcct:autoLeadTime>true</listAcct:autoLeadTime><listAcct:autoReorderPoint>true</listAcct:autoReorderPoint><listAcct:autoPreferredStockLevel>true</listAcct:autoPreferredStockLevel><listAcct:averageCost>10.16</listAcct:averageCost><listAcct:lastPurchasePrice>10.0</listAcct:lastPurchasePrice><listAcct:seasonalDemand>false</listAcct:seasonalDemand><listAcct:weightUnit>_lb</listAcct:weightUnit><listAcct:excludeFromSitemap>false</listAcct:excludeFromSitemap><listAcct:sitemapPriority>_auto</listAcct:sitemapPriority><listAcct:isDonationItem>false</listAcct:isDonationItem><listAcct:showDefaultDonationAmount>false</listAcct:showDefaultDonationAmount><listAcct:supplyReplenishmentMethod
        internalId=\"REORDER_POINT\"><platformCore:name>Reorder Point</platformCore:name></listAcct:supplyReplenishmentMethod><listAcct:dontShowPrice>false</listAcct:dontShowPrice><listAcct:outOfStockBehavior>_default</listAcct:outOfStockBehavior><listAcct:itemVendorList><listAcct:itemVendor><listAcct:vendor
        internalId=\"965\"><platformCore:name>Computer Depot Pacific</platformCore:name></listAcct:vendor><listAcct:purchasePrice>10.0</listAcct:purchasePrice><listAcct:preferredVendor>true</listAcct:preferredVendor></listAcct:itemVendor></listAcct:itemVendorList><listAcct:pricingMatrix><listAcct:pricing><listAcct:currency
        internalId=\"1\"><platformCore:name>USA</platformCore:name></listAcct:currency><listAcct:priceLevel
        internalId=\"1\"><platformCore:name>Base Price</platformCore:name></listAcct:priceLevel><listAcct:priceList><listAcct:price><listAcct:value>25.0</listAcct:value><listAcct:quantity>0.0</listAcct:quantity></listAcct:price><listAcct:price><listAcct:value>22.0</listAcct:value><listAcct:quantity>50.0</listAcct:quantity></listAcct:price></listAcct:priceList></listAcct:pricing><listAcct:pricing><listAcct:currency
        internalId=\"1\"><platformCore:name>USA</platformCore:name></listAcct:currency><listAcct:priceLevel
        internalId=\"6\"><platformCore:name>Online Wholesale Price</platformCore:name></listAcct:priceLevel><listAcct:discount>-15.0</listAcct:discount><listAcct:priceList><listAcct:price><listAcct:value>21.25</listAcct:value><listAcct:quantity>0.0</listAcct:quantity></listAcct:price><listAcct:price><listAcct:value>18.7</listAcct:value><listAcct:quantity>50.0</listAcct:quantity></listAcct:price></listAcct:priceList></listAcct:pricing><listAcct:pricing><listAcct:currency
        internalId=\"1\"><platformCore:name>USA</platformCore:name></listAcct:currency><listAcct:priceLevel
        internalId=\"3\"><platformCore:name>[...]
