---
http_interactions:
- request:
    method: get
    uri: https://webservices.na1.netsuite.com/wsdl/v2013_2_0/netsuite.wsdl
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Ns-Rtimer-Composite:
      - 1233929992:706172746E6572732D6A61766131303030362E626F732E6E65746C65646765722E636F6D:80
      Content-Type:
      - text/xml
    body:
      encoding: UTF-8
      string: "<?xml version=\"1.0\" encoding=\"UTF-8\"?>\n<definitions xmlns:tns=\"urn:platform_2013_2.webservices.netsuite.com\"
        xmlns:soap=\"http://schemas.xmlsoap.org/wsdl/soap/\" xmlns=\"http://schemas.xmlsoap.org/wsdl/\"
        xmlns:platformMsgs=\"urn:messages_2013_2.platform.webservices.netsuite.com\"
        xmlns:platformFaults=\"urn:faults_2013_2.platform.webservices.netsuite.com\"
        targetNamespace=\"urn:platform_2013_2.webservices.netsuite.com\">\n    <types>\n
        \       <xsd:schema xmlns:xsd=\"http://www.w3.org/2001/XMLSchema\" elementFormDefault=\"qualified\">\n
        \           <xsd:import namespace=\"urn:core_2013_2.platform.webservices.netsuite.com\"
        schemaLocation=\"https://webservices.na1.netsuite.com/xsd/platform/v2013_2_0/core.xsd\"/>\n
        \           <xsd:import namespace=\"urn:faults_2013_2.platform.webservices.netsuite.com\"
        schemaLocation=\"https://webservices.na1.netsuite.com/xsd/platform/v2013_2_0/faults.xsd\"/>\n
        \           <xsd:import namespace=\"urn:messages_2013_2.platform.webservices.netsuite.com\"
        schemaLocation=\"https://web[...]
- request:
    method: post
    uri: https://webservices.na1.netsuite.com/services/NetSuitePort_2013_2
    body:
      encoding: UTF-8
      string: "<?xml version=\"1.0\" encoding=\"UTF-8\"?><env:Envelope xmlns:xsd=\"http://www.w3.org/2001/XMLSchema\"
        xmlns:xsi=\"http://www.w3.org/2001/XMLSchema-instance\" xmlns:platformMsgs=\"urn:messages_2013_2.platform.webservices.netsuite.com\"
        xmlns:env=\"http://schemas.xmlsoap.org/soap/envelope/\" xmlns:platformCore=\"urn:core_2013_2.platform.webservices.netsuite.com\"><env:Header><platformMsgs:passport><platformCore:email>washington@spreecommerce.com</platformCore:email><platformCore:password>test</platformCore:password><platformCore:account>test</platformCore:account><platformCore:role
        type=\"role\" internalId=\"3\"></platformCore:role></platformMsgs:passport></env:Header><env:Body><platformMsgs:get><platformMsgs:baseRef
        xsi:type=\"platformCore:RecordRef\" externalId=\"R412664553\" type=\"salesOrder\"></platformMsgs:baseRef></platformMsgs:get></env:Body></env:Envelope>"
    headers:
      Soapaction:
      - "\"get\""
      Content-Type:
      - text/xml;charset=UTF-8
  response:
    status:
      code: 200
      message: OK
    headers:
      Ns-Rtimer-Composite:
      - 681702871:706172746E6572732D6A61766131303030352E626F732E6E65746C65646765722E636F6D:80
      Content-Type:
      - text/xml; charset=utf-8
    body:
      encoding: UTF-8
      string: |-
        <?xml version="1.0" encoding="UTF-8"?><soapenv:Envelope xmlns:soapenv="http://schemas.xmlsoap.org/soap/envelope/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"><soapenv:Header><platformMsgs:documentInfo xmlns:platformMsgs="urn:messages_2013_2.platform.webservices.netsuite.com"><platformMsgs:nsId>WEBSERVICES_test_032820141710020271686506595_f4a82e</platformMsgs:nsId></platformMsgs:documentInfo></soapenv:Header><soapenv:Body><getResponse xmlns="urn:messages_2013_2.platform.webservices.netsuite.com"><readResponse><platformCore:status isSuccess="true" xmlns:platformCore="urn:core_2013_2.platform.webservices.netsuite.com"/><record internalId="19087" externalId="R412664553" xsi:type="tranSales:SalesOrder" xmlns:tranSales="urn:sales_2013_2.transactions.webservices.netsuite.com"><tranSales:createdDate>2014-03-28T12:06:56.000-07:00</tranSales:createdDate><tranSales:customForm internalId="164" xmlns:platformCore="urn:core_2013_2.platform.webservices.netsuite.com"><platformCore:name>Basic Sales Order Form</platformCore:name></tranSales:customForm><tranSales:entity internalId="4113" xmlns:platformCore="urn:core_2013_2.platform.webservices.netsuite.com"><platformCore:name>spree@example.com</platformCore:name></tranSales:entity><tranSales:currency internalId="1" xmlns:platformCore="urn:core_2013_2.platform.webservices.netsuite.com"><platformCore:name>USA</platformCore:name></tranSales:currency><tranSales:tranDate>2014-03-28T00:00:00.000-07:00</tranSales:tranDate><tranSales:tranId>849</tranSales:tranId><tranSales:salesRep internalId="-5" xmlns:platformCore="urn:core_2013_2.platform.webservices.netsuite.com"><platformCore:name>A Wolfe</platformCore:name></tranSales:salesRep><tranSales:exchangeRate>1.0</tranSales:exchangeRate><tranSales:currencyName>USA</tranSales:currencyName><tranSales:transactionBillAddress xmlns:platformCommon="urn:common_2013_2.platform.webservices.netsuite.com"><platformCommon:billAddressee>Luis Braga</platformCommon:billAddressee><platformCommon:billPhone>5551234567</platformCommon:billPhone><platformCommon:billAddr1>Avenue</platformCommon:billAddr1><platformCommon:billCity>Bethesda</platformCommon:billCity><platformCommon:billState>MD</platformCommon:billState><platformCommon:billZip>20814</platformCommon:billZip><platformCommon:billCountry>_unitedStates</platformCommon:billCountry></tranSales:transactionBillAddress><tranSales:billAddress>Luis Braga
        Avenue
        Bethesda MD 20814
        United States</tranSales:billAddress><tranSales:transactionShipAddress xmlns:platformCommon="urn:common_2013_2.platform.webservices.netsuite.com"><platformCommon:shipAddressee>Luis Braga</platformCommon:shipAddressee><platformCommon:shipPhone>5551234567</platformCommon:shipPhone><platformCommon:shipAddr1>Avenue</platformCommon:shipAddr1><platformCommon:shipCity>Bethesda</platformCommon:shipCity><platformCommon:shipState>MD</platformCommon:shipState><platformCommon:shipZip>20814</platformCommon:shipZip><platformCommon:shipCountry>_unitedStates</platformCommon:shipCountry><platformCommon:shipIsResidential>false</platformCommon:shipIsResidential></tranSales:transactionShipAddress><tranSales:shipAddress>Luis Braga
        Avenue
        Bethesda MD 20814
        United States</tranSales:shipAddress><tranSales:shipDate>2014-03-30T00:00:00.000-07:00</tranSales:shipDate><tranSales:shipMethod internalId="92" xmlns:platformCore="urn:core_2013_2.platform.webservices.netsuite.com"><platformCore:name>UPS Ground</platformCore:name></tranSales:shipMethod><tranSales:shippingCost>5.0</tranSales:shippingCost><tranSales:shippingTaxCode internalId="-8" xmlns:platformCore="urn:core_2013_2.platform.webservices.netsuite.com"><platformCore:name>-Not Taxable-</platformCore:name></tranSales:shippingTaxCode><tranSales:shipComplete>false</tranSales:shipComplete><tranSales:saveOnAuthDecline>true</tranSales:saveOnAuthDecline><tranSales:altSalesTotal>0.0</tranSales:altSalesTotal><tranSales:subTotal>229.95</tranSales:subTotal><tranSales:discountTotal>0.0</tranSales:discountTotal><tranSales:taxTotal>0.0</tranSales:taxTotal><tranSales:altShippingCost>5.0</tranSales:altShippingCost><tranSales:total>234.95</tranSales:total><tranSales:balance>0.0</tranSales:balance><tranSales:subsidiary internalId="1" xmlns:platformCore="urn:core_2013_2.platform.webservices.netsuite.com"><platformCore:name>Parent Company</platformCore:name></tranSales:subsidiary><tranSales:lastModifiedDate>2014-03-28T12:32:19.000-07:00</tranSales:lastModifiedDate><tranSales:location internalId="2" xmlns:platformCore="urn:core_2013_2.platform.webservices.netsuite.com"><platformCore:name>San Francisco</platformCore:name></tranSales:location><tranSales:status>Pending Fulfillment</tranSales:status><tranSales:terms internalId="2" xmlns:platformCore="urn:core_2013_2.platform.webservices.netsuite.com"><platformCore:name>Net 30</platformCore:name></tranSales:terms><tranSales:itemList><tranSales:item><tranSales:item internalId="673" xmlns:platformCore="urn:core_2013_2.platform.webservices.netsuite.com"><platformCore:name>MEDICAL SUPPLIES : Drugs, Proprietaries, &amp; Sundries : ALEVE Caplets - Extra Strength To Last All Day</platformCore:name></tranSales:item><tranSales:quantityAvailable>2.0</tranSales:quantityAvailable><tranSales:quantity>1.0</tranSales:quantity><tranSales:description>ALEVE Caplets - Extra Strength To Last All Day</tranSales:description><tranSales:price internalId="1" xmlns:platformCore="urn:core_2013_2.platform.webservices.netsuite.com"><platformCore:name>Base Price</platformCore:name></tranSales:price><tranSales:rate>11.95</tranSales:rate><tranSales:amount>11.95</tranSales:amount><tranSales:commitInventory>_availableQty</tranSales:commitInventory><tranSales:isClosed>false</tranSales:isClosed><tranSales:line>24</tranSales:line><tranSales:taxCode internalId="-8" xmlns:platformCore="urn:core_2013_2.platform.webservices.netsuite.com"><platformCore:name>-Not Taxable-</platformCore:name></tranSales:taxCode><tranSales:shipGroup>1</tranSales:shipGroup><tranSales:itemIsFulfilled>false</tranSales:itemIsFulfilled></tranSales:item><tranSales:item><tranSales:item internalId="387" xmlns:platformCore="urn:core_2013_2.platform.webservices.netsuite.com"><platformCore:name>TECHNOLOGY : Telephony : 400 Watt Power Supply</platformCore:name></tranSales:item><tranSales:quantityAvailable>504.0</tranSales:quantityAvailable><tranSales:quantity>2.0</tranSales:quantity><tranSales:description>400 Watt Power Supply</tranSales:description><tranSales:price internalId="1" xmlns:platformCore="urn:core_2013_2.platform.webservices.netsuite.com"><platformCore:name>Base Price</platformCore:name></tranSales:price><tranSales:rate>109.00</tranSales:rate><tranSales:amount>218.0</tranSales:amount><tranSales:commitInventory>_availableQty</tranSales:commitInventory><tranSales:isClosed>false</tranSales:isClosed><tranSales:line>25</tranSales:line><tranSales:taxCode internalId="-8" xmlns:platformCore="urn:core_2013_2.platform.webservices.netsuite.com"><platformCore:name>-Not Taxable-</platformCore:name></tranSales:taxCode><tranSales:shipGroup>1</tranSales:shipGroup><tranSales:itemIsFulfilled>false</tranSales:itemIsFulfilled></tranSales:item></tranSales:itemList><tranSales:shipGroupList><tranSales:shipGroup><tranSales:id>1</tranSales:id><tranSales:isFulfilled>false</tranSales:isFulfilled><tranSales:weight>14.0</tranSales:weight><tranSales:sourceAddressRef internalId="DEFAULT" xmlns:platformCore="urn:core_2013_2.platform.webservices.netsuite.com"/><tranSales:destinationAddress>Avenue Bethesda MD 20814 United States</tranSales:destinationAddress><tranSales:shippingMethodRef internalId="92" xmlns:platformCore="urn:core_2013_2.platform.webservices.netsuite.com"/><tranSales:shippingMethod>UPS Ground</tranSales:shippingMethod><tranSales:handlingRate>0.0</tranSales:handlingRate><tranSales:shippingRate>5.0</tranSales:shippingRate></tranSales:shipGroup></tranSales:shipGroupList></record></readResponse></getResponse></soapenv:Body></soapenv:Envelope>
  recorded_at: Fri, 28 Mar 2014 19:37:07 GMT
[...]
