---
http_interactions:
- request:
    method: get
    uri: https://webservices.na1.netsuite.com/wsdl/v2013_2_0/netsuite.wsdl
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Ns-Rtimer-Composite:
      - "-2142845168:706172746E6572732D6A61766131303030392E626F732E6E65746C65646765722E636F6D:80"
      Content-Type:
      - text/xml
    body:
      encoding: UTF-8
      string: "<?xml version=\"1.0\" encoding=\"UTF-8\"?>\n<definitions xmlns:tns=\"urn:platform_2013_2.webservices.netsuite.com\"
        xmlns:soap=\"http://schemas.xmlsoap.org/wsdl/soap/\" xmlns=\"http://schemas.xmlsoap.org/wsdl/\"
        xmlns:platformMsgs=\"urn:messages_2013_2.platform.webservices.netsuite.com\"
        xmlns:platformFaults=\"urn:faults_2013_2.platform.webservices.netsuite.com\"
        targetNamespace=\"urn:platform_2013_2.webservices.netsuite.com\">\n    <types>\n
        \       <xsd:schema xmlns:xsd=\"http://www.w3.org/2001/XMLSchema\" elementFormDefault=\"qualified\">\n
        \           <xsd:import namespace=\"urn:core_2013_2.platform.webservices.netsuite.com\"
        schemaLocation=\"https://webservices.na1.netsuite.com/xsd/platform/v2013_2_0/core.xsd\"/>\n
        \           <xsd:import namespace=\"urn:faults_2013_2.platform.webservices.netsuite.com\"
        schemaLocation=\"https://webservices.na1.netsuite.com/xsd/platform/v2013_2_0/faults.xsd\"/>\n
        \           <xsd:import namespace=\"urn:messages_2013_2.platform.webservices.netsuite.com\"
        schemaLocation=\"https://web[...]
- request:
    method: post
    uri: https://webservices.na1.netsuite.com/services/NetSuitePort_2013_2
    body:
      encoding: UTF-8
      string: "<?xml version=\"1.0\" encoding=\"UTF-8\"?><env:Envelope xmlns:xsd=\"http://www.w3.org/2001/XMLSchema\"
        xmlns:xsi=\"http://www.w3.org/2001/XMLSchema-instance\" xmlns:platformMsgs=\"urn:messages_2013_2.platform.webservices.netsuite.com\"
        xmlns:env=\"http://schemas.xmlsoap.org/soap/envelope/\" xmlns:platformCore=\"urn:core_2013_2.platform.webservices.netsuite.com\"
        xmlns:platformCommon=\"urn:common_2013_2.platform.webservices.netsuite.com\"
        xmlns:listRel=\"urn:relationships_2013_2.lists.webservices.netsuite.com\"
        xmlns:tranSales=\"urn:sales_2013_2.transactions.webservices.netsuite.com\"
        xmlns:actSched=\"urn:scheduling_2013_2.activities.webservices.netsuite.com\"
        xmlns:setupCustom=\"urn:customization_2013_2.setup.webservices.netsuite.com\"
        xmlns:listAcct=\"urn:accounting_2013_2.lists.webservices.netsuite.com\" xmlns:tranBank=\"urn:bank_2013_2.transactions.webservices.netsuite.com\"
        xmlns:tranCust=\"urn:customers_2013_2.transactions.webservices.netsuite.com\"
        xmlns:listSupport=\"urn:support_2013_2.lists.webservices.netsuite.com\" xmlns:tranGeneral=\"urn:general_2013_2.transactions.webservices.netsuite.com\"><env:Header><platformMsgs:passport><platformCore:email>washington@spreecommerce.com</platformCore:email><platformCore:password>test</platformCore:password><platformCore:account>test</platformCore:account><platformCore:role
        type=\"role\" internalId=\"3\"></platformCore:role></platformMsgs:passport><platformMsgs:SearchPreferences><pageSize>50</pageSize><bodyFieldsOnly>false</bodyFieldsOnly></platformMsgs:SearchPreferences></env:Header><env:Body><platformMsgs:search><platformMsgs:searchRecord
        xsi:type=\"tranSales:TransactionSearch\"><tranSales:basic><platformCommon:type
        operator=\"anyOf\"><platformCore:searchValue>_itemFulfillment</platformCore:searchValue></platformCommon:type><platformCommon:lastModifiedDate
        operator=\"within\"><platformCore:searchValue>2014-04-27T18:48:56Z</platformCore:searchValue><platformCore:searchValue2>2014-05-02T01:34:13Z</platformCore:searchValue2></platformCommon:lastModifiedDate></tranSales:basic></platformMsgs:searchRecord></platformMsgs:search></env:Body></env:Envelope>"
    headers:
      Soapaction:
      - "\"search\""
      Content-Type:
      - text/xml;charset=UTF-8
  response:
    status:
      code: 200
      message: OK
    headers:
      Ns-Rtimer-Composite:
      - 227217623:706172746E6572732D6A61766131303031332E626F732E6E65746C65646765722E636F6D:80
      Content-Type:
      - text/xml; charset=utf-8
    body:
      encoding: UTF-8
      string: "<?xml version=\"1.0\" encoding=\"UTF-8\"?><soapenv:Envelope xmlns:soapenv=\"http://schemas.xmlsoap.org/soap/envelope/\"
        xmlns:xsd=\"http://www.w3.org/2001/XMLSchema\" xmlns:xsi=\"http://www.w3.org/2001/XMLSchema-instance\"><soapenv:Header><platformMsgs:documentInfo
        xmlns:platformMsgs=\"urn:messages_2013_2.platform.webservices.netsuite.com\"><platformMsgs:nsId>WEBSERVICES_test_050120141164882535857922290_c867a9</platformMsgs:nsId></platformMsgs:documentInfo></soapenv:Header><soapenv:Body><searchResponse
        xmlns=\"urn:messages_2013_2.platform.webservices.netsuite.com\"><platformCore:searchResult
        xmlns:platformCore=\"urn:core_2013_2.platform.webservices.netsuite.com\"><platformCore:status
        isSuccess=\"true\"/><platformCore:totalRecords>30</platformCore:totalRecords><platformCore:pageSize>50</platformCore:pageSize><platformCore:totalPages>1</platformCore:totalPages><platformCore:pageIndex>1</platformCore:pageIndex><platformCore:searchId>WEBSERVICES_test_050120141164882535857922290_c867a9</platformCore:searchId><platformCore:recordList><platformCore:record
        internalId=\"1550\" xsi:type=\"tranSales:ItemFulfillment\" xmlns:tranSales=\"urn:sales_2013_2.transactions.webservices.netsuite.com\"><tranSales:createdDate>2014-04-27T13:26:34.000-07:00</tranSales:createdDate><tranSales:lastModifiedDate>2014-04-27T13:26:38.000-07:00</tranSales:lastModifiedDate><tranSales:postingPeriod
        internalId=\"228\"><platformCore:name>Apr 2014</platformCore:name></tranSales:postingPeriod><tranSales:entity
        internalId=\"1300\"><platformCore:name>Culprit Inc.</platformCore:name></tranSales:entity><tranSales:createdFrom
        internalId=\"1549\"><platformCore:name>Sales Order #218</platformCore:name></tranSales:createdFrom><tranSales:transactionShipAddress
        xmlns:platformCommon=\"urn:common_2013_2.platform.webservices.netsuite.com\"><platformCommon:shipIsResidential>false</platformCommon:shipIsResidential></tranSales:transactionShipAddress><tranSales:shipStatus>_shipped</tranSales:shipStatus><tranSales:tranDate>2014-04-27T00:00:00.000-07:00</tranSales:tranDate><tranSales:tranId>78</tranSales:tranId><tranSales:itemList><tranSales:item><tranSales:itemReceive>true</tranSales:itemReceive><tranSales:itemName>Wooden
        Drafting Table</tranSales:itemName><tranSales:description>Wooden Drafting
        Table</tranSales:description><tranSales:location internalId=\"1\"><platformCore:name>Boston</platformCore:name></tranSales:location><tranSales:onHand>17.0</tranSales:onHand><tranSales:quantity>1.0</tranSales:quantity><tranSales:unitsDisplay>Ea</tranSales:unitsDisplay><tranSales:item
        internalId=\"525\"><platformCore:name>Wooden Drafting Table</platformCore:name></tranSales:item><tranSales:orderLine>1</tranSales:orderLine></tranSales:item></tranSales:itemList></platformCore:record><platformCore:record
        internalId=\"1551\" externalId=\"tran2876\" xsi:type=\"tranSales:ItemFulfillment\"
        xmlns:tranSales=\"urn:sales_2013_2.transactions.webservices.netsuite.com\"><tranSales:createdDate>2014-04-27T13:27:11.000-07:00</tranSales:createdDate><tranSales:lastModifiedDate>2014-04-27T13:27:33.000-07:00</tranSales:lastModifiedDate><tranSales:postingPeriod
        internalId=\"228\"><platfor[...]
