---
http_interactions:
- request:
    method: get
    uri: https://webservices.na1.netsuite.com/wsdl/v2013_2_0/netsuite.wsdl
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Ns-Rtimer-Composite:
      - 2024409015:706172746E6572732D6A61766131303030322E626F732E6E65746C65646765722E636F6D:80
      Content-Type:
      - text/xml
    body:
      encoding: UTF-8
      string: "<?xml version=\"1.0\" encoding=\"UTF-8\"?>\n<definitions xmlns:tns=\"urn:platform_2013_2.webservices.netsuite.com\"
        xmlns:soap=\"http://schemas.xmlsoap.org/wsdl/soap/\" xmlns=\"http://schemas.xmlsoap.org/wsdl/\"
        xmlns:platformMsgs=\"urn:messages_2013_2.platform.webservices.netsuite.com\"
        xmlns:platformFaults=\"urn:faults_2013_2.platform.webservices.netsuite.com\"
        targetNamespace=\"urn:platform_2013_2.webservices.netsuite.com\">\n    <types>\n
        \       <xsd:schema xmlns:xsd=\"http://www.w3.org/2001/XMLSchema\" elementFormDefault=\"qualified\">\n
        \           <xsd:import namespace=\"urn:core_2013_2.platform.webservices.netsuite.com\"
        schemaLocation=\"https://webservices.na1.netsuite.com/xsd/platform/v2013_2_0/core.xsd\"/>\n
        \           <xsd:import namespace=\"urn:faults_2013_2.platform.webservices.netsuite.com\"
        schemaLocation=\"https://webservices.na1.netsuite.com/xsd/platform/v2013_2_0/faults.xsd\"/>\n
        \           <xsd:import namespace=\"urn:messages_2013_2.platform.webservices.netsuite.com\"
        schemaLocation=\"https://web[...]
- request:
    method: post
    uri: https://webservices.na1.netsuite.com/services/NetSuitePort_2013_2
    body:
      encoding: UTF-8
      string: <?xml version="1.0" encoding="UTF-8"?><env:Envelope xmlns:xsd="http://www.w3.org/2001/XMLSchema"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:platformMsgs="urn:messages_2013_2.platform.webservices.netsuite.com"
        xmlns:env="http://schemas.xmlsoap.org/soap/envelope/" xmlns:platformCore="urn:core_2013_2.platform.webservices.netsuite.com"
        xmlns:platformCommon="urn:common_2013_2.platform.webservices.netsuite.com"
        xmlns:listRel="urn:relationships_2013_2.lists.webservices.netsuite.com" xmlns:tranSales="urn:sales_2013_2.transactions.webservices.netsuite.com"
        xmlns:actSched="urn:scheduling_2013_2.activities.webservices.netsuite.com"
        xmlns:setupCustom="urn:customization_2013_2.setup.webservices.netsuite.com"
        xmlns:listAcct="urn:accounting_2013_2.lists.webservices.netsuite.com" xmlns:tranCust="urn:customers_2013_2.transactions.webservices.netsuite.com"
        xmlns:listSupport="urn:support_2013_2.lists.webservices.netsuite.com" xmlns:tranGeneral="urn:general_2013_2.transactions.webservices.netsuite.com"><env:Header><platformMsgs:passport><platformCore:email>washington@spreecommerce.com</platformCore:email><platformCore:password>test</platformCore:password><platformCore:account>test</platformCore:account><platformCore:role
        type="role" internalId="3"></platformCore:role></platformMsgs:passport><platformMsgs:SearchPreferences><pageSize>30</pageSize><bodyFieldsOnly>false</bodyFieldsOnly></platformMsgs:SearchPreferences></env:Header><env:Body><platformMsgs:search><platformMsgs:searchRecord
        xsi:type="listAcct:ItemSearch"><listAcct:basic><platformCommon:lastModifiedDate
        operator="after"><platformCore:searchValue>2012-01-08T18:48:56+00:00</platformCore:searchValue></platformCommon:lastModifiedDate><platformCommon:isInactive><platformCore:searchValue>false</platformCore:searchValue></platformCommon:isInactive></listAcct:basic></platformMsgs:searchRecord></platformMsgs:search></env:Body></env:Envelope>
    headers:
      Soapaction:
      - '"search"'
      Content-Type:
      - text/xml;charset=UTF-8
  response:
    status:
      code: 200
      message: OK
    headers:
      Ns-Rtimer-Composite:
      - 797194599:706172746E6572732D6A61766131303030372E626F732E6E65746C65646765722E636F6D:80
      Content-Type:
      - text/xml; charset=utf-8
    body:
      encoding: UTF-8
      string: "<?xml version=\"1.0\" encoding=\"UTF-8\"?><soapenv:Envelope xmlns:soapenv=\"http://schemas.xmlsoap.org/soap/envelope/\"
        xmlns:xsd=\"http://www.w3.org/2001/XMLSchema\" xmlns:xsi=\"http://www.w3.org/2001/XMLSchema-instance\"><soapenv:Header><platformMsgs:documentInfo
        xmlns:platformMsgs=\"urn:messages_2013_2.platform.webservices.netsuite.com\"><platformMsgs:nsId>WEBSERVICES_test_0108201419372480681904838248_6cfd4</platformMsgs:nsId></platformMsgs:documentInfo></soapenv:Header><soapenv:Body><searchResponse
        xmlns=\"urn:messages_2013_2.platform.webservices.netsuite.com\"><platformCore:searchResult
        xmlns:platformCore=\"urn:core_2013_2.platform.webservices.netsuite.com\"><platformCore:status
        isSuccess=\"true\"/><platformCore:totalRecords>392</platformCore:totalRecords><platformCore:pageSize>30</platformCore:pageSize><platformCore:totalPages>14</platformCore:totalPages><platformCore:pageIndex>1</platformCore:pageIndex><platformCore:searchId>WEBSERVICES_test_0108201419372480681904838248_6cfd4</platformCore:searchId><platformCore:recordList><platformCore:record
        internalId=\"38\" xsi:type=\"listAcct:InventoryItem\" xmlns:listAcct=\"urn:accounting_2013_2.lists.webservices.netsuite.com\"><listAcct:createdDate>2014-01-12T20:37:21.000-08:00</listAcct:createdDate><listAcct:lastModifiedDate>2014-01-31T12:05:03.000-08:00</listAcct:lastModifiedDate><listAcct:purchaseDescription>ManuScript
        1000 Laser Printer - 1200 dpi b&amp;w</listAcct:purchaseDescription><listAcct:copyDescription>false</listAcct:copyDescription><listAcct:cogsAccount
        internalId=\"121\"><platformCore:name>Cost of Goods Sold</platformCore:name></listAcct:cogsAccount><listAcct:salesDescription>ManuScript
        1000 Laser Printer - 1200 dpi b&amp;w</listAcct:salesDescription><listAcct:incomeAccount
        internalId=\"56\"><platformCore:name>4002 Sales : Sales - Merchandise</platformCore:name></listAcct:incomeAccount><listAcct:isTaxable>true</listAcct:isTaxable><listAcct:assetAccount
        internalId=\"120\"><platformCore:name>Inventory Asset</platformCore:name></listAcct:assetAccount><listAcct:matchBillToReceipt>false</listAcct:matchBillToReceipt><listAcct:billQtyVarianceAcct
        internalId=\"150\"><platformCore:name>5095 Bill Quantity Variance</platformCore:name></listAcct:billQtyVarianceAcct><listAcct:billPriceVarianceAcct
        internalId=\"151\"><platformCore:name>5096 Bill Price Variance</platformCore:name></listAcct:billPriceVarianceAcct><listAcct:billExchRateVarianceAcct
        internalId=\"152\"><platformCore:name>5097 Bill Exchange Rate Variance</platformCore:name></listAcct:billExchRateVarianceAcct><listAcct:shippingCost>40.0</listAcct:shippingCost><listAcct:shippingCostUnits>per
        Ea</listAcct:shippingCostUnits><listAcct:handlingCostUnits>per Ea</listAcct:handlingCostUnits><listAcct:weight>32.0</listAcct:weight><listAcct:weightUnit>_lb</listAcct:weightUnit><listAcct:weightUnits>per
        Ea</listAcct:weightUnits><listAcct:costingMethodDisplay>Average</listAcct:costingMethodDisplay><listAcct:unitsType
        internalId=\"1\"><platformCore:name>Each</platformCore:name></listAcct:unitsType><listAcct:stockUnit
        internalId=\"1\"><platformCore:name>Each</platformCore:name></listAcct:stockUnit><listAcct:purchaseUnit
        internalId=\"1\"><platformCore:name>Each</platformCore:name></listAcct:purchaseUnit><listAcct:saleUnit
        internalId=\"1\"><platformCore:name>Each</platformCore:name></listAcct:saleUnit><listAcct:trackLandedCost>false</listAcct:trackLandedCost><listAcct:isDropShipItem>false</listAcct:isDropShipItem><listAcct:isSpecialOrderItem>false</listAcct:isSpecialOrderItem><listAcct:roundUpAsComponent>false</listAcct:roundUpAsComponent><listAcct:enforceMinQtyInternally>true</listAcct:enforceMinQtyInternally><listAcct:minimumQuantityUnits>Ea</listAcct:minimumQuantityUnits><listAcct:shipIndividually>false</listAcct:shipIndividually><listAcct:costCategory
        internalId=\"3\"><platformCore:name>Default Cost Category</platformCore:name></listAcct:costCategory><listAcct:useMarginalRates>false</listAcct:useMarginalRates><listAcct:costEstimateType>_averageCost</listAcct:costEstimateType><listAcct:overallQuantityPricingType>_byLineQuantity</listAcct:overallQuantityPricingType><listAcct:pricingGroup
        internalId=\"1\"><platformCore:name>HP Products</platformCore:name></listAcct:pricingGroup><listAcct:costEstimateUnits>per
        Ea</listAcct:costEstimateUnits><listAcct:cost>275.0</listAcct:cost><listAcct:costUnits>per
        Ea</listAcct:costUnits><listAcct:totalValue>135300.0</listAcct:totalValue><listAcct:averageCost>136.39</listAcct:averageCost><listAcct:useBins>false</listAcct:useBins><listAcct:quantityReorderUnits>Quantity
        On Hand, Reorder Point, Quantity On Order, and Quantity Committed are in Ea</listAcct:quantityReorderUnits><listAcct:autoLeadTime>true</listAcct:autoLeadTime><listAcct:lastPurchasePrice>275.0</listAcct:lastPurchasePrice><listAcct:autoPreferredStockLevel>true</listAcct:autoPreferredStockLevel><listAcct:seasonalDemand>false</listAcct:seasonalDemand><listAcct:autoReorderPoint>true</listAcct:autoReorderPoint><listAcct:storeDisplayName>HP
        1000 Laser Printer</listAcct:storeDisplayName><listAcct:storeDisplayThumbnail
        internalId=\"69\"><platformCore:name>printer42.jpg</platformCore:name></listAcct:storeDisplayThumbnail><listAcct:storeDisplayImage
        internalId=\"70\"><platformCore:name>printer42a.jpg</platformCore:name></listAcct:storeDisplayImage><listAcct:storeDescription>ManuScript
        1000 Laser Printer - 1200 dpi b&amp;w</listAcct:storeDescription><listAcct:storeDetailedDescription>&lt;b&gt;Features:&lt;/b&gt;\n16ppm\n8MB
        memory, expandable to 136MB \n350-sheet paper capacity\n1200 x 1200 dpi black
        &amp; white resolution</listAcct:storeDetailedDescription><listAcct:excludeFromSitemap>false</listAcct:excludeFromSitemap><listAcct:sitemapPriority>_auto</listAcct:sitemapPriority><listAcct:isDonationItem>false</listAcct:isDonationItem><listAcct:showDefaultDonationAmount>false</listAcct:showDefaultDonationAmount><listAcct:dontShowPrice>false</listAcct:dontShowPrice><listAcct:outOfStockBehavior>_default</listAcct:outOfStockBehavior><listAcct:itemId>ManuScript
        1000 Laser Printer - 1200 dpi b&amp;w</listAcct:itemId><listAcct:parent internalId=\"545\"><platformCore:name>OFFICE
        SUPPLIES</platformCore:name></listAcct:parent><listAcct:isOnline>true</listAcct:isOnline><listAcct:offerSupport>true</listAcct:offerSupport><listAcct:isInactive>false</listAcct:isInactive><listAcct:availableToPartners>false</listAcct:availableToPartners><listAcct:currency>USA</listAcct:currency><listAcct:pricingMatrix><listAcct:pricing><listAcct:currency
        internalId=\"1\"><platformCore:name>USA</platformCore:name></listAcct:currency><listAcct:priceLevel
        internalId=\"1\"><platformCore:name>Base Price</platformCore:name></listAcct:priceLevel><listAcct:priceList><listAcct:price><listAcct:value>699.0</listAcct:value><listAcct:quantity>0.0</listAcct:quantity></listAcct:price></listAcct:priceList></listAcct:pricing><listAcct:pricing><listAcct:currency
        internalId=\"1\"><platformCore:name>USA</platformCore:name></listAcct:currency><listAcct:priceLevel
        internalId=\"6\"><platformCore:name>Online Wholesale Price</platformCore:name></listAcct:priceLevel><listAcct:discount>-15.0</listAcct:discount><listAcct:priceList><listAcct:price><listAcct:value>594.15</listAcct:value><listAcct:quantity>0.0</listAcct:quantity></listAcct:price></listAcct:priceList></listAcct:pricing><listAcct:pricing><listAcct:currency
        internalId=\"1\"><platformCore:name>USA</platformCore:name></listAcct:currency><listAcct:priceLevel
        internalId=\"3\"><platformCore:name>Retail Price</platformCore:name></listAcct:priceLevel><listAcct:discount>-5.0</listAcct:discount><listAcct:price[...]
