---
http_interactions:
- request:
    method: get
    uri: https://webservices.na1.netsuite.com/wsdl/v2013_2_0/netsuite.wsdl
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Ns-Rtimer-Composite:
      - 357568502:706172746E6572732D6A61766131303030362E626F732E6E65746C65646765722E636F6D:80
      Content-Type:
      - text/xml
    body:
      encoding: UTF-8
      string: "<?xml version=\"1.0\" encoding=\"UTF-8\"?>\n<definitions xmlns:tns=\"urn:platform_2013_2.webservices.netsuite.com\"
        xmlns:soap=\"http://schemas.xmlsoap.org/wsdl/soap/\" xmlns=\"http://schemas.xmlsoap.org/wsdl/\"
        xmlns:platformMsgs=\"urn:messages_2013_2.platform.webservices.netsuite.com\"
        xmlns:platformFaults=\"urn:faults_2013_2.platform.webservices.netsuite.com\"
        targetNamespace=\"urn:platform_2013_2.webservices.netsuite.com\">\n    <types>\n
        \       <xsd:schema xmlns:xsd=\"http://www.w3.org/2001/XMLSchema\" elementFormDefault=\"qualified\">\n
        \           <xsd:import namespace=\"urn:core_2013_2.platform.webservices.netsuite.com\"
        schemaLocation=\"https://webservices.na1.netsuite.com/xsd/platform/v2013_2_0/core.xsd\"/>\n
        \           <xsd:import namespace=\"urn:faults_2013_2.platform.webservices.netsuite.com\"
        schemaLocation=\"https://webservices.na1.netsuite.com/xsd/platform/v2013_2_0/faults.xsd\"/>\n
        \           <xsd:import namespace=\"urn:messages_2013_2.platform.webservices.netsuite.com\"
        schemaLocation=\"https://web[...]
- request:
    method: post
    uri: https://webservices.na1.netsuite.com/services/NetSuitePort_2013_2
    body:
      encoding: UTF-8
      string: <?xml version="1.0" encoding="UTF-8"?><env:Envelope xmlns:xsd="http://www.w3.org/2001/XMLSchema"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:platformMsgs="urn:messages_2013_2.platform.webservices.netsuite.com"
        xmlns:env="http://schemas.xmlsoap.org/soap/envelope/" xmlns:platformCore="urn:core_2013_2.platform.webservices.netsuite.com"
        xmlns:platformCommon="urn:common_2013_2.platform.webservices.netsuite.com"
        xmlns:listRel="urn:relationships_2013_2.lists.webservices.netsuite.com" xmlns:tranSales="urn:sales_2013_2.transactions.webservices.netsuite.com"
        xmlns:actSched="urn:scheduling_2013_2.activities.webservices.netsuite.com"
        xmlns:setupCustom="urn:customization_2013_2.setup.webservices.netsuite.com"
        xmlns:listAcct="urn:accounting_2013_2.lists.webservices.netsuite.com" xmlns:tranCust="urn:customers_2013_2.transactions.webservices.netsuite.com"
        xmlns:listSupport="urn:support_2013_2.lists.webservices.netsuite.com" xmlns:tranGeneral="urn:general_2013_2.transactions.webservices.netsuite.com"><env:Header><platformMsgs:passport><platformCore:email>washington@spreecommerce.com</platformCore:email><platformCore:password>test</platformCore:password><platformCore:account>test</platformCore:account><platformCore:role
        type="role" internalId="3"></platformCore:role></platformMsgs:passport><platformMsgs:SearchPreferences><bodyFieldsOnly>false</bodyFieldsOnly></platformMsgs:SearchPreferences></env:Header><env:Body><platformMsgs:search><platformMsgs:searchRecord
        xsi:type="listAcct:ItemSearch"><listAcct:basic><platformCommon:lastModifiedDate
        operator="within"><platformCore:searchValue>2013-01-08T18:48:56+00:00</platformCore:searchValue><platformCore:searchValue2>2014-01-09T14:30:18-03:00</platformCore:searchValue2></platformCommon:lastModifiedDate><platformCommon:isInactive><platformCore:searchValue>false</platformCore:searchValue></platformCommon:isInactive></listAcct:basic><listAcct:parentJoin></listAcct:parentJoin></platformMsgs:searchRecord></platformMsgs:search></env:Body></env:Envelope>
    headers:
      Soapaction:
      - '"search"'
      Content-Type:
      - text/xml;charset=UTF-8
  response:
    status:
      code: 200
      message: OK
    headers:
      Ns-Rtimer-Composite:
      - 728144088:706172746E6572732D6A61766131303030352E626F732E6E65746C65646765722E636F6D:80
      Content-Type:
      - text/xml; charset=utf-8
    body:
      encoding: UTF-8
      string: "<?xml version=\"1.0\" encoding=\"UTF-8\"?><soapenv:Envelope xmlns:soapenv=\"http://schemas.xmlsoap.org/soap/envelope/\"
        xmlns:xsd=\"http://www.w3.org/2001/XMLSchema\" xmlns:xsi=\"http://www.w3.org/2001/XMLSchema-instance\"><soapenv:Header><platformMsgs:documentInfo
        xmlns:platformMsgs=\"urn:messages_2013_2.platform.webservices.netsuite.com\"><platformMsgs:nsId>WEBSERVICES_test_0109201420141840981501576518_5d7da</platformMsgs:nsId></platformMsgs:documentInfo></soapenv:Header><soapenv:Body><searchResponse
        xmlns=\"urn:messages_2013_2.platform.webservices.netsuite.com\"><platformCore:searchResult
        xmlns:platformCore=\"urn:core_2013_2.platform.webservices.netsuite.com\"><platformCore:status
        isSuccess=\"true\"><platformCore:statusDetail type=\"WARN\"><platformCore:code>WARNING</platformCore:code><platformCore:message>Could
        not set 'Non-inventory Item' to field 'originalItemType' of record number
        656 due to schema enumeration restriction.</platformCore:message></platformCore:statusDetail></platformCore:status><platformCore:totalRecords>113</platformCore:totalRecords><platformCore:pageSize>1000</platformCore:pageSize><platformCore:totalPages>1</platformCore:totalPages><platformCore:pageIndex>1</platformCore:pageIndex><platformCore:searchId>WEBSERVICES_test_0109201420141840981501576518_5d7da</platformCore:searchId><platformCore:recordList><platformCore:record
        internalId=\"60\" xsi:type=\"listAcct:InventoryItem\" xmlns:listAcct=\"urn:accounting_2013_2.lists.webservices.netsuite.com\"><listAcct:createdDate>2014-01-13T20:37:21.000-08:00</listAcct:createdDate><listAcct:lastModifiedDate>2014-01-05T15:57:56.000-08:00</listAcct:lastModifiedDate><listAcct:purchaseDescription>Desk
        Telephone</listAcct:purchaseDescription><listAcct:copyDescription>false</listAcct:copyDescription><listAcct:cogsAccount
        internalId=\"121\"><platformCore:name>Cost of Goods Sold</platformCore:name></listAcct:cogsAccount><listAcct:salesDescription>Desk
        Telephone</listAcct:salesDescription><listAcct:incomeAccount internalId=\"56\"><platformCore:name>4002
        Sales : Sales - Merchandise</platformCore:name></listAcct:incomeAccount><listAcct:isTaxable>true</listAcct:isTaxable><listAcct:assetAccount
        internalId=\"120\"><platformCore:name>Inventory Asset</platformCore:name></listAcct:assetAccount><listAcct:matchBillToReceipt>false</listAcct:matchBillToReceipt><listAcct:billQtyVarianceAcct
        internalId=\"150\"><platformCore:name>5095 Bill Quantity Variance</platformCore:name></listAcct:billQtyVarianceAcct><listAcct:billPriceVarianceAcct
        internalId=\"151\"><platformCore:name>5096 Bill Price Variance</platformCore:name></listAcct:billPriceVarianceAcct><listAcct:billExchRateVarianceAcct
        internalId=\"152\"><platformCore:name>5097 Bill Exchange Rate Variance</platformCore:name></listAcct:billExchRateVarianceAcct><listAcct:shippingCost>7.0</listAcct:shippingCost><listAcct:weight>6.0</listAcct:weight><listAcct:weightUnit>_lb</listAcct:weightUnit><listAcct:costingMethodDisplay>Average</listAcct:costingMethodDisplay><listAcct:trackLandedCost>false</listAcct:trackLandedCost><listAcct:isDropShipItem>false</listAcct:isDropShipItem><listAcct:isSpecialOrderItem>false</listAcct:isSpecialOrderItem><listAcct:roundUpAsComponent>false</listAcct:roundUpAsComponent><listAcct:enforceMinQtyInternally>true</listAcct:enforceMinQtyInternally><listAcct:shipIndividually>false</listAcct:shipIndividually><listAcct:costCategory
        internalId=\"3\"><platformCore:name>Default Cost Category</platformCore:name></listAcct:costCategory><listAcct:useMarginalRates>false</listAcct:useMarginalRates><listAcct:costEstimateType>_averageCost</listAcct:costEstimateType><listAcct:overallQuantityPricingType>_byLineQuantity</listAcct:overallQuantityPricingType><listAcct:cost>19.99</listAcct:cost><listAcct:totalValue>1159.42</listAcct:totalValue><listAcct:averageCost>2.14</listAcct:averageCost><listAcct:useBins>false</listAcct:useBins><listAcct:autoLeadTime>true</listAcct:autoLeadTime><listAcct:lastPurchasePrice>0.0</listAcct:lastPurchasePrice><listAcct:autoPreferredStockLevel>true</listAcct:autoPreferredStockLevel><listAcct:seasonalDemand>false</listAcct:seasonalDemand><listAcct:autoReorderPoint>true</listAcct:autoReorderPoint><listAcct:storeDisplayName>Desk
        Telephone</listAcct:storeDisplayName><listAcct:storeDisplayThumbnail internalId=\"61\"><platformCore:name>phone81.jpg</platformCore:name></listAcct:storeDisplayThumbnail><listAcct:storeDisplayImage
        internalId=\"62\"><platformCore:name>phone81a.jpg</platformCore:name></listAcct:storeDisplayImage><listAcct:storeDescription>Two
        line, caller ID capable desk telephone with six programmable buttons</listAcct:storeDescription><listAcct:storeDetailedDescription>Two
        line, caller ID capable desk telephone with six programmable buttons</listAcct:storeDetailedDescription><listAcct:metaTagHtml>&lt;Meta
        Name = &quot;description&quot; CONTENT = &quot;4400 Magix Phone Technology
        Electronics&quot;&gt;</listAcct:metaTagHtml><listAcct:excludeFromSitemap>false</listAcct:excludeFromSitemap><listAcct:sitemapPriority>_auto</listAcct:sitemapPriority><listAcct:isDonationItem>false</listAcct:isDonationItem><listAcct:showDefaultDonationAmount>false</listAcct:showDefaultDonationAmount><listAcct:dontShowPrice>false</listAcct:dontShowPrice><listAcct:outOfStockBehavior>_default</listAcct:outOfStockBehavior><listAcct:itemId>Desk
        Telephone</listAcct:itemId><listAcct:parent internalId=\"500\"><platformCore:name>TECHNOLOGY
        : Phones</platformCore:name></listAcct:parent><listAcct:isOnline>true</listAcct:isOnline><listAcct:offerSupport>true</listAcct:offerSupport><listAcct:isInactive>false</listAcct:isInactive><listAcct:availableToPartners>false</listAcct:availableToPartners><listAcct:currency>USA</listAcct:currency><listAcct:pricingMatrix><listAcct:pricing><listAcct:currency
        internalId=\"4\"><platformCore:name>Euro</platformCore:name></listAcct:currency><listAcct:priceLevel
        internalId=\"1\"><platformCore:name>Base Price</platformCore:name></listAcct:priceLevel><listAcct:priceList><listAcct:price><listAcct:value>35.0</listAcct:value><listAcct:quantity>0.0</listAcct:quantity></listAcct:price><listAcct:price><listAcct:value>34.0</listAcct:value><listAcct:quantity>10.0</listAcct:quantity></listAcct:price><listAcct:price><listAcct:value>33.0</listAcct:value><listAcct:quantity>50.0</listAcct:quantity></listAcct:price></listAcct:priceList></listAcct:pricing><listAcct:pricing><listAcct:currency
        internalId=\"4\"><platformCore:name>Euro</platformCore:name></listAcct:currency><listAcct:priceLevel
        internalId=\"6\"><platformCore:name>Online Wholesale Price</platformCore:name></listAcct:priceLevel><listAcct:discount>-15.0</listAcct:discount><listAcct:priceList><listAcct:price><listAcct:value>29.75</listAcct:value><listAcct:quantity>0.0</listAcct:quantity></listAcct:price><listAcct:price><listAcct:value>28.9</listAcct:value><listAcct:quantity>10.0</listAcct:quantity></listAcct:price><listAcct:price><listAcct:value>28.05</listAcct:value><listAcct:quantity>50.0</listAcct:quantity></listAcct:price></listAcct:priceList></listAcct:pricing><listAcct:pricing><listAcct:currency
        internalId=\"4\"><platformCore[...]
